Title: Fairy Tale

Once upon a time, a girl named {a girl’s name} lived in a little {noun} deep in the forest.

Her mother thought that she was absolutely {adjective}, and her grandmother agreed most {adverb}.

One day, the girl’s mother gave her a {noun} full of things to eat, and sent her off into the forest to deliver it to the {noun} where her grandmother lived.
